@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700);


* {
  margin: 0px;
  padding: 0px;
  font-family: "Open Sans", sans-serif !important;
  color: white;
  -webkit-tap-highlight-color: transparent;
}


.motionBar {display: none;}


.maintenance {
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: black;
  width: 100%;
  height: 100vh;
  z-index: 150;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex: 1 1 auto;
  flex-wrap: wrap;
display: none;
}

.maintenance>img {
  width: 50%;
  flex: 15;
}

.m-text {
  display: flex;
  flex-direction: column;
  gap: 0px;
  flex: 2;
}

.m-text>p {
  font-size: 13px
}

.m-text>a {
  color: #E0CA3C;
  width: 100%;
  text-align: center;
  font-weight: normal !important;
  font-size: 14px;
}

.m-text>a:hover {
  color: #E0CA3C;
  text-decoration: underline;
}

.maintenance>p {
  font-size: 13px;
  color: rgb(100, 100, 100);
  padding: 15px;
  flex: 1;
}



input,
textarea,
button,
span,
select,
a {
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
  outline: none;
}

body {
  background-color: black;

}

nav {
  background-color: #000000cc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  margin: 25px;
  border-radius: 10px;
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
  flex-wrap: wrap;
}

header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 100;
}

.link-container {
  display: flex;
  text-decoration: none;
  
  margin-right: 30px;

}

.link-container>li {
  list-style-type: none;
  padding: 39px 17px;
  font-size: 14px;

}

.link-container>li>a {
  text-decoration: none;
  font-weight: 600;
}

.active-link {
  border-top: solid 2.5px gold;
  padding: 36px 17px 33px 17px !important;
}

.active-link>a {
  font-weight: 600;
  color: #E0CA3C;


}

.logo-container {
  display: flex;
  margin-left: 18px;
}

.logo-text>h4>span {
  color: #E0CA3C;
}

.logo-container>img {
  width: 147px;
}

.logo-text {
  width: 315px;
}

.logo-text>h4 {
  font-size: 19px;
}

.logo-text>p {
  padding: 5px 13px;
  background-color: #E0CA3C;
  width: fit-content;
  color: black;
  font-weight: 600;
  border-radius: 5px;
  margin-top: 10px;
  font-weight: bold;
  font-size: 16px;

}

.social-container {
  padding-right: 32px;
  display: flex;
  gap: 10px;
}

.social-container>a>img {
  width: 25px;
  padding: 4px;
  background-color: transparent;
  height: 25px;
  border-radius: 25px;
  object-fit: scale-down;
}























.hero-img-item {
  width: 100%;
  height: 70vh;
  object-fit: cover;
  filter: brightness(1);
}

.hero-img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1
}

.hero-img {
  position: absolute;
  width: 100%;
}

.hero-text {
  position: relative;
  z-index: 10;
  ;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  padding: 40px 100px;
}

.hero-text>h1 {
  font-size: 42px;
  line-height: 52px;
}

.hero-text>p {
  font-size: 17px;
  line-height: 30px;
}

.hero-text {
  width: 700px;
}

.hero-sect {
  display: flex;
  position: relative;
  z-index: 1;
}

.yellowGrid {
  position: relative;
  z-index: 13;
  position: absolute;
  bottom: 138px;
  right: 50px;
}

.btn-group {
  display: flex;
  gap: 13px;
  margin-top: 7px;
}

.btn {
  padding: 8.5px 20px;
  border-radius: 5px;
  background-color: #E0CA3C;
  color: black;
  font-weight: 600;
  font-size: 15px;
  transition: 0.1s ease;
  cursor: pointer;
  border: none;
}

.btn:hover {
  filter: brightness(1.1);
}

.btn-secondary {
  background-color: black;
  color: #E0CA3C;
}


















.events {
  display: flex;
  flex-direction: column;
  margin-top: -103px;
  height: 190px;
  overflow: hidden;
  position: relative;
  z-index: 15;
}

.event-wrapper {
  display: flex;
  gap: 30px;
  justify-content: flex-start;
  padding: 0px 100px;
  flex-wrap: wrap;
}

.event-item {
  width: 300px;
  position: relative;
}

.event-item>a>span {
  color: #E0CA3C;
  font-size: 14px;
}

.event-item>a>h2 {
  font-size: 23px;
  line-height: 26px;
  margin-top: 4px;
  margin-bottom: 4px;
}

.event-item>a>p {
  font-size: 14px;
  max-height: 57px;
  overflow: hidden;
}

.events>h3 {
  font-size: 30px;
  font-size: 17px;
  padding-left: 100px;
  margin-bottom: 15px;
}







footer{    position: fixed;
  width: 100%;
  bottom: 0px;
  height: 96px;
  background-color: #00000080;
  backdrop-filter: blur(22px);
  -webkit-backdrop-filter: blur(22px);}


.footer-container {
  padding: 0px 100px;

  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  filter: brightness(0.8);

}



.link-group {
  display: flex;
  font-size: 14px;
  gap: 20px;
}

.link-group>a {
  filter: brightness(0.8);
}

.link-group>a:hover {
  filter: brightness(1);
}

.footer-container>span {
  font-size: 14px;
  ;
}



















.wysywig-content {padding: 194px 0px;
  line-height: 28px;display: flex; justify-content: center;}

  .wys-container {width: 60%;}

.wys-container > h1 {  font-size: 42px;
  line-height: 52px;}

.wys-container > h2 {    margin-bottom: 4px;
  margin-top: 25px;
}



.mobile-hide {
  position: fixed;
  width: 100%; 
  height: 100vh;background-color: black;
  left: 0px; top: 0px;
  z-index: 1000;
  display: none;
  font-size: 32px;
}

.social-mobile {display: none;}



@media only screen and (max-width: 1200px) {
.social-container {display: none;}
.social-mobile {display: flex;}

}



@media only screen and (max-width: 1100px) {
.hero-text > h1 {font-size: 35px;line-height: 47px;}
.hero-text {height: 100vh;}

.event-item {width:46% !important}
.event-wrapper {padding: 0px 40px;justify-content: space-between;}
.events > h3 {padding-left: 40px;}
.events {height: fit-content
}
.hero-text {padding: 40px 40px;}



.link-container > li > a {    padding: 7px 15px;
  background-color: #252525;
  color: white;
  border-radius: 50px;}

  .link-container > li {padding: 17px 8px;}

.link-container > li:first-of-type {padding-left: 20px !important;}

  .active-link {padding: 17px 8px !important}

  nav{    justify-content: left;
    height: fit-content;
    padding: 9px 0px;
    background-color: #00000082;
    margin: 0px;
    border-radius: 0px;
  }

  .gallery {margin-top: 136px !important;}

  .active-link {border: none;}

  .link-container{    display: flex;
    text-decoration: none;
    margin-right: 0px !important;
    width: 100%;
    overflow: scroll;}

    .events {margin-bottom: 159px;
      margin-top: 0px;}

      .footer-container {padding:0px 28px}

      footer {position: static !important;}

    .active-link > a {background-color: #E0CA3C !important;color: black !important;}

    .logo-text {width: 70%;
      display: flex;
      flex-direction: column;
      justify-content: center;}

    .logo-text > h4 {font-size: 14px;}

    .logo-container > img {object-position: -11px 0px;
      width: 125px;}

      .officer-item {width: 46% !important;}

      .officer-wrap {gap: 6% !important;padding: 150px 17px !important;}

      .event-wrapper {padding: 0px 24px !important;}

      .events > h3 {padding-left: 24px;}

      .event-wrapper {gap: 50px;}
      .footer-container > span {display: none;}

}


@media only screen and (max-width: 520px) {
  .yellowGrid {display: none;}

  .hero-text {margin-top: 50px;}

  .hero-img {margin-top: 140px;display: none;}
  .hero-text > h1 {    font-size: 30px;
    line-height: 39px;}

    .hero-text > p {font-size: 15px;}

    .hero-text {   
    padding: 0px 21px;}

      .btn-group {    margin-bottom: 92px;}

      .event-item {width: 100% !important;}
}


  .gallery-container {display: flex;justify-content: flex-start;flex-wrap: wrap;transition: 0.2s ease;}

  .gallery-container > img {width
  :50%;object-fit: cover;cursor: pointer;}

  .gallery {margin-top: 0px;margin-bottom: 77px;transition: 0.2s ease;}

  .zoom {position: fixed; width: 100% !important; height: 100vh;top: 0px; left: 0px; width: 100%; height: 100vh;object-fit: scale-down !important ;z-index: 150;background-color: black;transition: 0.2s ease;}












  .event-page {    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    padding: 161px 0px;
    margin-top: 0px;
    height: fit-content;}

    .event-page > div >div > a > p  {height: fit-content !important;overflow: visible;max-height: none;}

    .event-link {color: #E0CA3C;font-weight: 600;text-decoration: underline;font-size: 15px;margin-top: 5px;}


















    .officer-wrap {   display: flex;
      flex-wrap: wrap;
      gap: 2%;
      justify-content: center;padding: 150px 35px;
      max-width: 1000px;
  }

    .officer-item {width:31%;}

    .officer-item > img {width: 100%;border-radius: 5px;}

    .officer-container {padding: 147px 54px;
    }

    .officers-container {
      display: flex;
      justify-content: center;
    }
    .officer-item > h3 {margin-top: 10px;font-weight: 600;font-size: 21px ;}

    .officer-item > p {    font-weight: 600;
      font-size: 14px;
      margin-top: -3px;}

    .officer-item > h5 {font-weight: normal;
      margin-top: 2px;
      margin-bottom: 40px;
  }